* {
    box-sizing: border-box;
    border: 2px greenyellow;
}

/* Body */
main {
    padding: 0;
    margin: 60px 100px 60px;
    width: 100vw;
    height: 100vh;
}

/* Header - High Score button and Time Count */
header {
    width: 100%;
    height: 40px;
    position: static;
}

h1, .page-title {
    font-size: 50px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-align: center;
}

/* Buttons - High Score and Time */
#high-score-btn {
    margin: 0 0 0 0;
    padding: 10px;
    float: left;
    border-width: 0;
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
}

#time {
    margin: 0 0 0 0;
    padding: 10px;
    float: right;
}

/* Font Specifications for buttons */
#time, .btn {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
}


/* Instructions and Start Game */
/* STILL WONT ALIGN TO CENTRE OF PAGE */
#startBtn {
    width: 20px;
    height: 10px;
    margin: 0 0 0 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0;
    background-color: white;
    font-weight: 600;
    font-size: 17px;
}

/* HIDE */
.hide {
    /* display: none; */
}

.show {
    display: block;
}


/* Game */
#game-window {
    width: 600px;
    max-width: 60%;
    height: 300px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* Border */
    box-sizing: border-box;
    background-color: white;
    border-color:rgb(239, 68, 255);
    border-width: 2.5px;
    border-style: solid;
    border-radius: 14px;
    /* border-image: auto; */
    padding: 25px;
}

h3, .question {
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    margin: 5px 8px 20px 0;
}


/* Answers */
.list-vertical {
    display: grid;
    gap: 10px;
    margin: 10px 0 10px 0px;
}

.answer-btn {
    /* Configeration */
    width: 100%;
    margin: 0 10% 0 10%;
    padding: 7px;
    /* Alignment */
    align-items: center;
    justify-content: center;
    display: inline-block;
    align-items: flex-start;
    /* Text */
    font: 400 15px Helvetica;
    text-align: left;
    /* Box design */
    cursor: grab;
    box-sizing: border-box;
    background-color: white;
    border-color:rgb(214, 214, 214);
    border-width: 2px;
    border-style: solid;
    border-image: auto;
    margin: 0em;
}

p {
    font-size: 25px;
    font-family: Helvetica, Arial, sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
}

#btn:hover {
    color: rgb(114, 53, 255);
}

#btn:active {
    border: none;
}

.answer-btn:hover {
    border-color: violet;
    box-shadow: 0 0 4px 2px violet;
}

.answer-btn:active {
    background-color: white;
    border-color: black;
}

.answer-btn.correct {
    background-color: rgb(123, 255, 0);
    border-color: rgb(123, 255, 0);
}

.answer-btn.wrong {
    background-color: red;
    border-color: red;
}


/* HIGH SCORE */
.previous-scores {
    padding: 5px;
}

.highscore-buttons {
    justify-content: center;
    display: flex;
}

.reset-btn {
    align-self: center;
    margin-bottom: 40px;
}

