/* HEADING */
h1,
.high-score-title {
    margin-top: 20px;
    font-size: 50px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    /* justify-content: center; */
}

li {

}


/* BUTTONS */
.highscore-buttons {
    justify-content: center;
    display: flex;
}

.reset-btn {
    align-self: center;
    margin-bottom: 40px;
}
